<a href="https://colab.research.google.com/github/Sylvariane/prediction_revenus/blob/main/P07_code.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Prédiction de revenus

In [1]:
# connexion à Google Drive pour importer les dossiers
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [4]:
import pandas as pd
import numpy as np

In [6]:
data = pd.read_csv('/content/drive/My Drive/Data Analyst - OC/Projets/P7_guillot_cecile/data-projet7.csv')

In [7]:
data.head()

      country  year_survey  quantile  nb_quantiles     income     gdpppp
0         ALB         2008         1           100  728,89795       7297
1         ALB         2008         2           100  916,66235       7297
2         ALB         2008         3           100   1010,916       7297
3         ALB         2008         4           100  1086,9078       7297
4         ALB         2008         5           100  1132,6997       7297
...       ...          ...       ...           ...        ...        ...
11594     COD         2008        96           100   810,6233  303,19305
11595     COD         2008        97           100   911,7834  303,19305
11596     COD         2008        98           100  1057,8074  303,19305
11597     COD         2008        99           100  1286,6029  303,19305
11598     COD         2008       100           100  2243,1226  303,19305

[11599 rows x 6 columns]

**Mission 1**


Résumez les données utilisées :
- Année(s) des données utilisées ;
- Nombre de pays présents ;
- Population couverte par l'analyse (en termes de pourcentage de la population mondiale).


Les données de la World Income Distribution présentent pour chaque pays les quantiles de la distribution des revenus de leur population respective.
- De quel type de quantiles s'agit-il (quartiles, déciles, etc.) ?
- Échantillonner une population en utilisant des quantiles est-il selon vous une bonne méthode ? Pourquoi ?

Nous appellerons ici chaque quantile une classe de revenu.
Ainsi, la valeur de la colonne income pour un quantile donné peut être vue comme le revenu moyen des personnes appartenant à la classe de revenu correspondante à ce quantile.


L'unité utilisée dans la colonne income de la world income distribution est le $PPP. Cette unité est calculée par la Banque mondiale, selon la méthode Eltöte-Köves-Szulc. Après vous être documenté, vous expliquerez à votre mentor très brièvement à quoi correspond cette unité et pourquoi elle est pertinente pour une comparaison de pays différents.

In [9]:
data['year_survey'].unique()

array([2008, 2009, 2010, 2007, 2006, 2011, 2004])

In [15]:
country = data['country'].unique()
len(country)

116

**Mission 2**

- Montrez la diversité des pays en termes de distribution de revenus à l'aide d'un graphique. Celui-ci représentera le revenu moyen (axe des ordonnées, sur une échelle logarithmique) de chacune des classes de revenus (axe des abscisses) pour 5 à 10 pays que vous aurez choisis pour montrer la diversité des cas.
- Représentez la courbe de Lorenz de chacun des pays choisis.
- Pour chacun de ces pays, représentez l'évolution de l'indice de Gini au fil des ans.
- Classez les pays par indice de Gini. Donnez la moyenne, les 5 pays ayant l'indice de Gini le plus élevé et les 5 pays ayant l'indice de Gini le plus faible. En quelle position se trouve la France ?